# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

## Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Keras

## Creating a table
|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|R Studio|
|Zepplin Notebooks|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [23]:
(2+3)*5

25

In [26]:
#executing arithmetic expression by subracting two numbers then multiply

In [25]:
(20-10)*2

20

In [27]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [28]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

**Objectives:**

* python
* R
* SQL
* Julia
* Java

## Author
VASAVI